.backgroundColor {
  background-color: #292925;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 4rem;
  overflow: hidden;
}

:root {
  --folioColor1: #f1d500;
  --folioColor2: #b7b7b7;
  --folioColor3: #292925;
}

.folioText1 {
  font-size: 3rem;
  font-weight: 700;
  color: var(--folioColor2);
}
.folioText2 {
  font-size: 3rem;
  font-weight: 700;
  color: var(--folioColor1);
}

.headerView {
  width: 60%;
}

.headerTextView {
  width: 100%;
  animation: fadeInOut 2s ease-in-out;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateY(0);
  }

  50% {
    opacity: 0.5;
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes scaleInOut {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes bottomAnimation {
  0% {
    opacity: 0;
    transform: translateY(0);
  }

  50% {
    opacity: 1;
    transform: translateY(-5rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes imageAnimation {
  0% {
    opacity: 1;

    right: -40rem;
    bottom: -40rem;
  }

  100% {
    opacity: 1;
    right: -20rem;
    bottom: -20rem;
  }
}

.profilePictureView {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  border-radius: 100%;
  border-width: 0.1rem;
  border-style: solid;
  border-color: var(--folioColor1);
  background-color: var(--folioColor3);
}
.headerSegmentView {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: end;
  margin-bottom: 2rem;
  margin-top: 2rem;
  animation: scaleInOut 2s ease-in-out;
  transform-origin: left;
}
.divider {
  width: 0.2rem;
  height: 3rem;
  margin-left: 1rem;
  margin-right: 1rem;
  border-radius: 5rem;
  background-color: var(--folioColor2);
}
.viewSegment {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: -webkit-fill-available;
}
.footerView {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  font-size: 1.2rem;
  color: var(--folioColor2);
  animation: bottomAnimation 2s;
}
.portfolioImageSegment1 {
  background-color: var(--folioColor2);
  border-radius: 100%;
  height: 40rem;
  width: 40rem;
  position: absolute;
  right: -20rem;
  bottom: -20rem;
  animation: imageAnimation 1s;
}
.portfolioImageSegment2 {
  background-color: var(--folioColor1);
  border-radius: 100%;
  height: 30rem;
  width: 30rem;
  position: absolute;
  right: -20rem;
  bottom: -20rem;
  animation: imageAnimation 1.5s;
}
.portfolioImage {
  position: absolute;
  right: 0;
  bottom: -0.4rem;
}
.imageLink {
  display: block;
  transform: scale(1);
  transition: transform 0.3s ease, border-width 0.3s ease;
  border-width: 0;
  border-style: solid;
  border-color: var(--folioColor1);
}
.imageLink:hover {
  transform: scale(1.1);
  transform-origin: center;
  cursor: pointer;
  border-width: 0.3rem;
}
.skillView {
  display: block;
  position: absolute;
  padding: 4rem;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.skillViewHeaderSegmentView {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: end;
  margin-bottom: 2rem;
  margin-top: 2rem;
  animation: scaleInOut 2s ease-in-out;
  transform-origin: left;
  z-index: 2;
  transition: 1.2s;
}
.skillSegmentBackground {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: 1.2s;
}
.skillSegmentBlurBackground {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: 1.2s;
}
